PORT= 8000
MONGODB_URI=mongodb+srv://krishav123:<db_password>@cluster0.so3kfob.mongodb.net/?appName=Cluster0
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=something
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=something  
REFRESH_TOKEN_EXPIRY=10d 